@tailwind base;
@tailwind components;
@tailwind utilities;

/* variable */

:root {
  --primary-color: #00539C;
  --font-size: 10px;
  --orange-validation: #FFA273;
  --border-color: #e0e0e0; /* Exemple de couleur de bordure */
  --bg-input: #f5f5f5; /* Exemple de couleur de fond pour les inputs */
  --first-text-color: #333333; /* Exemple de couleur de texte principale */
  --bg-validation: #0040c9; /* Exemple de couleur pour les barres de validation inactives */
}

.bg-custom-gradient {
  background: linear-gradient(90deg, #FFA273 0%, #00539C 100%);
}

/* Optionnel: Importation de la police Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Applique la police Inter au corps */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
